* {
  box-sizing: border-box; }

canvas {
  width: 25mm; }

.main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%; }
  .main .photo-container {
    border: 1px solid #005CC8;
    max-width: 500px;
    position: relative;
    user-select: none; }
    .main .photo-container img {
      width: 100%;
      user-select: none; }
    .main .photo-container .frame {
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 275px;
      height: 275px;
      border: 2px solid #005CC8;
      border-radius: 50%;
      cursor: move; }
  .main .resize-slider {
    -webkit-appearance: slider-vertical;
    cursor: pointer;
    display: flex; }

.result {
  text-align: center;
  margin-top: 50px;
  margin-right: 150px; }
  .result .upload-input,
  .result .download-btn {
    display: none; }
  .result .upload-btn,
  .result .crop-btn {
    cursor: pointer; }
  .result .cropped-photo-container {
    margin-top: 20px; }
