* {
  box-sizing: border-box;
}

canvas {
  width: 25mm;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  // visibility: hidden;

  .photo-container {
    // border: 1px solid #005CC8;
    // min-width: 100px;
    max-width: 500px;
    // min-height: 500px;
    position: relative;
    user-select: none;
  
    img {
      width: 100%;
      user-select: none;
  
    }
  
    .frame {
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 275px;
      height: 275px;
      border: 2px solid #005CC8;
      border-radius: 50%;
      // overflow: hidden;
      cursor: move;
    }
  }

    .resize-slider {
      -webkit-appearance: slider-vertical;
      cursor: pointer;
      display: flex;
    }
  
}

.result {
  text-align: center;
  margin-top: 50px;
  margin-right: 150px;

  .upload-input,
  .download-btn {
    display: none;
  }

  .upload-btn,
  .crop-btn {
    cursor: pointer;
  }

  .cropped-photo-container {
    margin-top: 20px;
  }
}

